:root {
  --primary-color: #ffffff;

  --section-gradient: linear-gratient(to bottom right, #eff6ff, #ffffff);
  --section-color: #f9fafb;

  --blue-600: #2563eb;
  --blue-100: #dbeafe;

  --text-secondary-color: #717182;

  --bg-gray: #E9EBEF;
}